<div class="content">
<h2>Create a Hold or Booking</h2>
<p><strong>Band:</strong> <%= @band.name %>(<%= @band.band_leader %>)
<p><strong>Client:</strong> <%= @event.client_first_name %> <%= @event.client_last_name %></p>
<p><strong>Job #:</strong> <%= @event.job_identification_number %></p>
<%= form_for [@event, @booking] do |f| %>

<p><%= f.hidden_field :band_id, :value => @band.id %></p>

<p><strong><%= f.label :date %>:</strong> <%= f.date_field :date, :value => @planning or @event.final_date %></p>


<p><strong><%= f.label :type %>:</strong><%= f.select(:kind, options_for_select([["HOLD", "HOLD"],["BOOKED", "BOOKED"]])) %></p>
<%= hidden_field_tag 'planning', @planning %>
<p style="color:red"><strong>Remember to delete holds when creating a booking</strong></p>
<div class="button-holder">
<p><%= f.submit "Create", :class => "button" %></p>
<% end %>
</div>
</div>