<div class="content">
	<% if @bands_param %>
		<h1><%= @band.name %> Events</h1>
	<% else %>
		<h1>Events Calendar </h1>
	<% end %>
		<br>
		<%= form_tag(bands_path, :method => "get") %>
			<%= select_tag "band_id", options_from_collection_for_select(Band.all, "id", "name") %>
		<%= submit_tag 'Search' %>

	<table class="t02 sortable" id="mytable" style="width:75%" >
		<thead>
		<tr>
			<th>Day</th>
			<th>Date</th>
			<th>Status</th>
			<th>Client Name, Venue, Link</th>
			<th>Band</th>
		</tr>
		</thead>
		<% @saturdays.each do |saturday_date| %>
			<% unless @bookings.include?(saturday_date) %>
				<% @bookings << saturday_date %>
			<% end %>
		<% end %>
		<% @real_saturdays = @saturdays %>
		<% @saturdays = @bookings %>
			<% @saturdays.sort! %>
	  <% @saturdays.each do |saturday_date| %>
			<% saturday_events = [] %>
			<% @events.each do |event|%>
				<% if event.final_date == saturday_date and event.status != "RELEASED" and event.status != "RELEASED-BAB" and event.status != "RELEASED-BADJ" %>
					<% saturday_events << event %>
					<% end %>
				<% end %>
			<% if saturday_events.length == 0 %>
				<tr>
					<td> <%= saturday_date.strftime("%A") %></td>
					<td> <%= saturday_date.strftime("%m/%d/%Y") %></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<% else %>
				<% x = false %>
				<% saturday_events.each do |event| %>
					<% if event.band == nil or event.band == "" %>
						<% unless @bands_param %>
							<tr>
							<td> <%= saturday_date.strftime("%A") %> </td>
							<td> <%= saturday_date.strftime("%m/%d/%Y") %></td>
							<td> <%= event.status %></td>
							<td>
							<%= event.client_first_name %> <%= event.client_last_name %>, 
							<% if event.venue == nil or event.venue == ""%>
							No Venue Scheduled, 
							<% else %> 
							<%= event.venue %>, 
							<% end %>
							<%= link_to "View", event_path(event)%>
							</td>
							<td> No Booking </td>
							</tr>
						<% end %>
					<% else %>
						<% event.bookings.each do |booking| %>
							<% if @bands_param && booking.band_id == @bands_param.to_i %>
								<% x = true %>
							<% end %>
							<% if !@bands_param || (booking.band.id == @bands_param.to_i && booking.kind != "BOOKED") %>
								<% if booking.kind == "BOOKED" %>
									<tr style="background:green;">
								<% else %>
									<tr>
								<% end %>
								<td> <%= saturday_date.strftime("%A") %> </td>
								<td> <%= saturday_date.strftime("%m/%d/%Y") %></td>
								<td><%= event.status%> </td>
								<td>
								<%= event.client_first_name %> <%= event.client_last_name %>, 
								<% if event.venue == nil or event.venue == ""%>
								No Venue Scheduled, 
								<% else %> 
								<%= event.venue %>, 
								<% end %>
								<%= link_to "View", event_path(event) %>
								</td>
								<td>
								<%= booking.band.name %>
								</td>
								</tr>
								<% end %>
							<% end %>
						<% end %>
					<% end %>
					<% if x == false && @real_saturdays.include?(saturday_date) && @bands_param %>
						<tr>
							<td> <%= saturday_date.strftime("%A") %></td>
							<td> <%= saturday_date.strftime("%m/%d/%Y") %></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
					<% end %>
			<% end %>
		<% end %>
	</table>
</div>

