<div class="content">
	<h1>Events Calendar </h1>
		<br>
	<table class="t02 sortable" id="mytable">
		<thead>
		<tr>
			<th>Day</th>
			<th>Date</th>
			<th>Client Name, Venue, Link </th>
			<th>Band</th>
		</tr>
		</thead>
		<% @saturdays.each do |saturday_date| %>
			<% unless @bookings.include?(saturday_date) %>
				<% @bookings << saturday_date %>
			<% end %>
		<% end %>
		<% @saturdays = @bookings %>
			<% @saturdays.sort! %>
	  <% @saturdays.each do |saturday_date| %>
			<% saturday_events = [] %>
			<% @events.each do |event|%>
				<% if event.final_date == saturday_date and event.status != "RELEASED" and event.status != "RELEASED-BAB" and event.status != "RELEASED-BADJ" %>
					<% saturday_events << event %>
					<% end %>
				<% end %>
			<% if saturday_events.length == 0 %>
				<tr>
					<td> <%= saturday_date.strftime("%A") %></td>
					<td> <%= saturday_date.strftime("%m/%d/%Y") %></td>
					<td></td>
					<td></td>
				</tr>
				<% else %>
				<% saturday_events.each do |event| %>
					<% if event.band == nil or event.band == "" %>
						<tr>
						<td> <%= saturday_date.strftime("%A") %> </td>
						<td> <%= saturday_date.strftime("%m/%d/%Y") %></td>
						<td>
						<%= event.client_first_name %> <%= event.client_last_name %>, 
						<% if event.venue == nil or event.venue == ""%>
						No Venue Scheduled, 
						<% else %> 
						<%= event.venue %>, 
						<% end %>
						<%= link_to "View", event_path(event)%>
						</td>
						<td> No Booking </td>
						</tr>
					<% else %>
						<% event.bookings.each do |booking| %>
							<% if booking.kind == "BOOKED" %>
								<tr style="background:green;">
							<% else %>
							<tr>
							<% end %>
							<td> <%= saturday_date.strftime("%A") %> </td>
							<td> <%= saturday_date.strftime("%m/%d/%Y") %></td>
							<td>
							<%= event.client_first_name %> <%= event.client_last_name %>, 
							<% if event.venue == nil or event.venue == ""%>
							No Venue Scheduled, 
							<% else %> 
							<%= event.venue %>, 
							<% end %>
							<%= link_to "View", event_path(event) %>
							</td>
							<td>
							<%= booking.band.name %>
							</td>
							</tr>
							<% end %>
						<% end %>
					<% end %>
			<% end %>
		<% end %>
	</table>
</div>

