<div class="content">
	<% if @bands_param %>
		<% if @bands_param.to_i == 5 %>
			<h1>Ken Arlen Evolution Orchestra Events</h1>
		<% else %>
			<h1><%= @band.name %> Events</h1>
		<% end %>
	</br>
	<% else %>
		<h1>Events Calendar </h1>
	</br>
	<% end %>
		<div class="button-holder">
  			<%= link_to 'Create Restriction', new_restriction_path, :class=> "add button-inner"%>
		</div></br>
	
		<%= form_tag(bands_path, :method => "get") do %>

			<%= select_tag "band_id", options_from_collection_for_select(Searchable.all, "id", "name") %>
		<%= submit_tag 'Search' %>
		<% end %>
	</br>
	

	<table class="t02 sortable" id="mytable" style="width:75%" >
		<thead>
		<tr>
			<th>Date</th>
			<th>Status</th>
			<th>Client Name, Venue, Link</th>
			<% if !@bands_param %>
				<th>Band</th>
			<% elsif @bands_param.to_i == 5 %>
				<th>Band Leader</th>
			<% end %>
			<th>Restrictions</th>
		</tr>
		</thead>
		<% @saturdays.each do |saturday_date| %>
			<% unless @bookings.include?(saturday_date) %>
				<% @bookings << saturday_date %>
			<% end %>
		<% end %>
		<% @real_saturdays = @saturdays %>
		<% @saturdays = @bookings %>
			<% @saturdays.sort! %>
	  <% @saturdays.each do |saturday_date| %>
			<% saturday_events = [] %>
			<% saturday_restrictions = [] %>
			<% @events.each do |event|%>
				<% if event.show_on(saturday_date) && event.status != "RELEASED" and event.status != "RELEASED-BAB" and event.status != "RELEASED-BADJ" %>
					<% saturday_events << event %>
					<% end %>
				<% end %>
			<% @restrictions.each do |restriction| %>
				<% if restriction.is_there_restriction?(saturday_date) && (!@bands_param || (@bands_param.to_i == 5 && (restriction.band_id == 5 || restriction.band_id == 6)) || (@bands_param.to_i == restriction.band_id)) %>
					<% saturday_restrictions << restriction %>
				<% end %>
			<% end %>
			<% if saturday_events.length == 0 %>
				<tr>
					<td> <pre><%= saturday_date.strftime("%m/%d/%Y %n%A") %></pre></td>
					<td></td>
					<td></td>
					<% if !@bands_param %>
						<td></td>
					<% elsif @bands_param.to_i == 5 %>
						<td></td>
					<% end %>
					<% if saturday_restrictions.length == 0 %>
						<td></td>
					<% else %>
						<td>
						<% saturday_restrictions.each do |restriction| %>
							<%= restriction.band.name %> - <%= restriction.notes %></br>
						<% end %>
						</td>
					<% end %>
				</tr>
				<% else %>
				<% x = false %>
				<% already_shown = false %>
				<% saturday_events.each do |event| %>
					<% if event.band == nil or event.band == "" %>
						<% unless @bands_param %>
							<% style_str = "" %>
								<% if event.status == "SALES MEETING SCHEDULED" %>
									<% style_str += "font-weight:bold;" %>
								<% end %>
								<% if event.bookings.length > 1 %>
									<% style_str += "font-style: italic;" %>
								<% end %>
									<tr style=<%=style_str%>>
								<% if already_shown == true %>
									<td></td>
								<% else %>
									<td> <pre><%= saturday_date.strftime("%m/%d/%Y %n%A") %></pre></td>
									<% already_shown = true %>
								<% end %>
								<td> <%= event.status %>
									<% if event.status == "SALES MEETING SCHEDULED" && event.sales_meeting_time %></br>
										<%= event.sales_meeting_time.strftime("%m/%d/%Y") %>
									<% end %>

								</td>
								<td>
									<%= event.client_first_name %> <%= event.client_last_name %>, 
									<% if event.venue == nil or event.venue == ""%>
									No Venue Scheduled, 
									<% else %> 
									<%= event.venue %>, 
									<% end %>
									<%= link_to "View", event_path(event)%>
								</td>
								<% if !@bands_param %>
									<td> No Booking </td>
								<% end %>
								<% if saturday_restrictions.length == 0 %>
									<td></td>
								<% else %>
								<td>
								<% saturday_restrictions.each do |restriction| %>
									<%= restriction.band.name %> - <%= restriction.notes %></br>
								<% end %>
								</td>
								<% end %>
							</tr>
						<% end %>
					<% else %>
						<% event.bookings.each do |booking| %>

							<% if @bands_param && (((@bands_param.to_i == 5 && (booking.band_id == 5 || booking.band_id == 6 )) || booking.band_id == @bands_param.to_i) && booking.kind == "BOOKED")%>
								<% x = true %>

							<% end %>
							<% if !@bands_param || (@bands_param.to_i == 5 && (booking.band_id == 5 || booking.band_id == 6) && booking.kind != "BOOKED") || (booking.band.id == @bands_param.to_i && booking.kind != "BOOKED") %>
								<% style_str = "" %>
								<% if booking.kind == "BOOKED" %>
									<% style_str += "background:green;" %>
								<% end %>
								<% if event.status == "SALES MEETING SCHEDULED" %>
									<% style_str += "font-weight:bold;" %>
								<% end %>
								<% if event.bookings.length > 1 %>
									<% style_str += "font-style:italic;" %>
								<% end %>
									<tr style=<%=style_str%>>
								<% if already_shown == true %>
									<td></td>
								<% else %>
									<td> <pre><%= saturday_date.strftime("%m/%d/%Y %n%A") %></pre></td>
									<% already_shown = true %>
								<% end %>
								<td><%= event.status%> </td>
								<td>
								<%= event.client_first_name %> <%= event.client_last_name %>, 
								<% if event.venue == nil or event.venue == ""%>
								No Venue Scheduled, 
								<% else %> 
								<%= event.venue %>, 
								<% end %>
								<%= link_to "View", event_path(event) %>
								</td>
								<% if !@bands_param %>
								<td>
									<%= booking.band.name %>
								</td>
								<% elsif @bands_param.to_i == 5 %>
									<td><%=booking.band.band_leader%></td>
								<% end %>
								<% if saturday_restrictions.length == 0 %>
									<td></td>
								<% else %>
									<td>
									<% saturday_restrictions.each do |restriction| %>
									<%= restriction.band.name %> - <%= restriction.notes %></br>
									<% end %>
									</td>
									<% end %>
								</tr>
								<% end %>
							<% end %>
						<% end %>
					<% end %>
					<% if x == false && @real_saturdays.include?(saturday_date) && @bands_param %>
						<tr>
							<td> <pre><%= saturday_date.strftime("%m/%d/%Y %n%A") %></pre></td>
							<td></td>
							<td></td>
							<% if !@bands_param %>
								<td></td>
							<% end %>
						</tr>
					<% end %>
			<% end %>
		<% end %>
	</table>
</div>

