<div class="content"><h1>Meetings Scheduled</h1>
	<br>
<table class="t02 sortable" id="mytable">
	<thead>
	<tr>
		<th>Job Number</th>
		<th>Client Name</th>		
		<th>Status</th>
		<th>Sold By</th>
		<th>Final Date</th>
		<th>Link</th>
	</tr>
	</thead>
	<tbody>
	<% @events.each do |event| %>
			<tr>
				<td> <%= event.job_identification_number %></td>
				<td> <%= event.client_first_name%> <%= event.client_last_name %></td>
				<td> <%= event.status %></td>
				<td> <%= event.sold_by %> </td>
				<% if event.final_date != "" && event.final_date != nil %>
					<td> <%= event.final_date.strftime("%A, %m/%d/%Y") %></td>
				<% else %>
					<td> <%= event.final_date %></td>
				<% end %>
				<td> <%= link_to "View", event_path(event.id) %></td>
			</tr>
		<% end %>
</tbody>
</table>
</div>