<% if @event.final_date != nil && @event.final_date != "" %>
     <% group_time = @event.final_date %>
<% elsif @date_param %>
     <% group_time = Date.parse(@date_param) %>
<% end %>
<div class="content-container">
    <h1>
        <%= @event.client_first_name %>
        <%= @event.client_last_name %>'s Event
    </h1>
   <div class="left-inner">
       <h2>Info Cont.</h2>
       <div class="object3">
         <ul>
             <li>
               <% if @event.final_date == nil or @event.final_date == "" %>
                  <strong>Planning Date:</strong>
              <% else %>
                <strong>Final Date:</strong>
              <% end %>
              </li>
          <li><strong>Venue:</strong></li>
          <li><strong>Referred By:</strong></li>
          <li><strong>Number of Guests:</strong></li>
          <% if @event.sales_meeting_time != nil && @event.sales_meeting_time != ""%>
            <li><strong>Meeting Date:</strong></li>
          <% end %>
     </ul>
     <ul class="second-ul">
        <li>
           <% if @event.final_date == nil or @event.final_date == "" %>
  <%= @event.planning_date %>
<% else %>
  <%= @event.final_date.strftime("%A, %m/%d/%Y") %>
<% end %>
      </li>
      <li>
       <%if @event.venue == "" or @event.venue == nil%>
  </br>
  <% else %>
  <%= @event.venue %>
  <% end %>
</li>
<li>
  <%if @event.referred_by == "" or @event.referred_by == nil%>
</br>
<% else %>
<%= @event.referred_by %>
<% end %>
</li>
<li>
  <%if @event.guests == "" or @event.guests == nil%>
</br>
<% else %>
<%= @event.guests %>
<% end %>
</li>
<li>
  <%if @event.sales_meeting_time == "" or @event.sales_meeting_time == nil%>
</br>
<% else %>
<%= @event.sales_meeting_time.strftime("%A, %m/%d/%Y") %>
<% end %>
</li>

</br>

</ul>
<div class="button-holder">
  <%= link_to 'Create Notification', new_event_notification_path(@event), :class=> "add button-inner"%>
</div>
</div>
</br>
<div class="search">
  <%= form_tag(event_path, :method => "get") do %>
    <%= date_field "event", "final_date", value: @date_param %>
    <%= submit_tag 'Search' %>
  <% end %>
</div>
<div class="object2">
    <% if @event.bookings_only.length == 0 %>
     <% if (@date_param != nil && @date_param != "") or (@event.final_date != nil && @event.final_date != "") %>
     <h2>Band Availability
      <% if @event.final_date != nil && @event.final_date != ""%>
        (<%= @event.final_date.strftime("%A, %m/%d/%Y") %>)
      <% else %>
        (<%= Date.parse(@date_param).strftime("%A, %m/%d/%Y") %>)
      <% end %>
     </h2>
     <% @restrictions.each do |restriction| %>
        <% if restriction.is_there_restriction?(group_time)%>
          <p style="color:red;"><%= Band.find(restriction.band_id).name + "-" if restriction.band_id %> <%= restriction.notes %></p></br>

        <% end %>
      <% end %>

     <table style="border:none">
          <tr>
               <th>Band Name</th>
               <th>Job ID #</th>
               <th>Client Name</th>
               <th>Venue</th>
               <th>Status</th>
          </tr>
          <% @bands.each do |band| %>
          <% if band.is_free?(group_time, @event) %>
          <tr>
               <td><strong><%= link_to band.name, new_event_booking_path(@event, :band_id => band.id, :planning => group_time ) %></strong></td>
               <td></td>
               <td></td>
               <td></td>
               <td></td>
          </tr>
          <% if band.holds(group_time).length > 0 %>
          <% band.holds(group_time).each do |hold| %>
            <% if hold.event_id != @event.id %>
            <% style_str = "" %>
              <% if hold.event.status == "SALES MEETING SCHEDULED" %>
                <% style_str += "font-weight:bold;" %>
              <% end %>
              <% if hold.event.bookings.length > 1 %>
                <% style_str += "font-style:italic;" %>
              <% end %>
                <tr style=<%=style_str%>>
                  <td></td>
                  <td><%= link_to hold.event.job_identification_number, event_path(hold.event_id) %></td>
                  <td><%= hold.event.client_first_name %> <%= hold.event.client_last_name %></td>
                  <td><%= hold.event.venue %></td>
                  <td><%= hold.event.status %></td>
                </tr>
          <% end %>
          <% end %>
          <% end %>
          <% end %>
          <% end %>
     </table>
     <% end %>
     <% end %>
     <% if @event.bookings.length > 0 %>
     <h2>Booking Information</h2>
     <table style="border:none">
          <tr>
               <th>Band</th>
               <th>Type</th>
               <th>Date</th>
               <th>Delete</th>
          </tr>
          <% @event.bookings.each do |booking| %>
          <tr>
               <td><%= booking.band.name %></td>
               <td><%= booking.kind %></td>
               <td><%= booking.date.strftime("%A, %m/%d/%Y") %></td>
               <td><%= link_to raw("&#10006"), event_booking_path(@event, booking), data: { confirm: 'Are you sure you want to delete this alert?' }, :method => :delete, :class => 'delete-button' %></td>

          </tr>
          <% end %>
     </table>


     <% end %>
</div>

<div class="object4">
    <h2>Documents</h2>
    <% @documents.each do |document| %>
    <% if document.data.url.include?(".pdf") %>
    <li>
        <%= image_tag "pdf_thumbnail.jpg" %>
        <%= link_to "#{document.title} #{document.created_at.strftime("%A, %m/%d/%Y %I:%M %p")} ", document.data.url, :target => "_blank" %>
        <%= link_to raw("&#10006"), event_document_path(@event, document), data: { confirm: 'Are you sure you want to delete this document?' }, :method => :delete, :class => 'delete-button' %>

   </li>
   <% elsif document.data.url.include?(".msg") %>
   <li>
        <%= image_tag "message-32.jpg" %>
        <%= link_to "#{document.title} #{document.created_at.strftime("%A, %m/%d/%Y %I:%M %p")} ", document.data.url, :target => "_blank" %>
        <%= link_to raw("&#10006"), event_document_path(@event, document), data: { confirm: 'Are you sure you want to delete this document?' }, :method => :delete, :class => 'delete-button' %>

   </li>
   <% elsif document.data.url.include?(".jpg") %>
   <li>
     <%= image_tag "color-swatch.jpg" %>
     <%= link_to "#{document.title} #{document.created_at.strftime("%A, %m/%d/%Y %I:%M %p")} ", document.data.url, :target => "_blank" %>
     <%= link_to raw("&#10006"), event_document_path(@event, document), data: { confirm: 'Are you sure you want to delete this document?' }, :method => :delete, :class => 'delete-button' %>

</li>
<% else %>
<li>
   <%= image_tag "word.jpg" %>
   <%= link_to "#{document.title} #{document.created_at.strftime("%A, %m/%d/%Y %I:%M %p")} ", document.data.url, :target => "_blank" %>
   <%= link_to raw("&#10006"), event_document_path(@event, document), data: { confirm: 'Are you sure you want to delete this document?' }, :method => :delete, :class => 'delete-button' %>

</li>
<% end %>
<% end %>
<br>
<div class="button-holder">
     <%= link_to 'Upload Document', new_event_document_path(@event), :class=> "add button-inner"%>
</div>
</div>
    <div class='details'>
        <h2>Contract Details</h2>
        <ul>
            <li><strong>Start Time:</strong></li>
            <li><strong>End Time:</strong></li>
            <li><strong>Breaks:</strong> </li>
            <li><strong>Contract Price:</strong></li>
            <li><strong>Overtime Price:</strong></li>
            <li><strong>Musicians:</strong></li>
            <li><strong>Vocalists:</strong></li>
            <li><strong>Sold By:</strong></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li><h2>Actions</h2></li>
            <li><a href="arlen:Pink_<%= @event.job_identification_number %>">Generate Pink Sheet</a></li>
            <li><a href="arlen:Proposal_<%= @event.job_identification_number %>">Generate Proposal</a></li>
            <li><a href="arlen:Contract_<%= @event.job_identification_number %>">Generate Contract</a></li>
            <li><a href="arlen:Email_<%= @event.job_identification_number %>">Generate Email</a></li>
            <li><a href="arlen:Access_<%= @event.job_identification_number %>">Push to Access</a></li>
       </ul>
       <ul>
            <li>
                <%if @event.start_time == "" or @event.start_time == nil%>
                    </br>
               <% else %>
                    <%= @event.start_time %>
               <% end %>
          </li>
          <li>
               <%if @event.end_time == "" or @event.end_time == nil%>
                    </br>
                <% else %>
                    <%= @event.end_time %>
                <% end %>
            </li>
            <li>
                <%if @event.continuous == "" or @event.continuous == nil%>
                    </br>
                <% else %>
                    <%= @event.continuous %>
                <% end %>
            </li>
            <li>
                <%if @event.contract_price == "" or @event.contract_price == nil%>
                    </br>
                <% else %>
                    <%= @event.contract_price %>
                <% end %>
            </li>
            <li>
                <%if @event.ot_price == "" or @event.ot_price == nil%>
                    </br>
                <% else %>
                    <%= @event.ot_price %>
                <% end %>
            </li>
            <li>
                <%if @event.number_of_musicians == "" or @event.number_of_musicians == nil%>
                    </br>
                <% else %>
                    <%= @event.number_of_musicians %>
                <% end %>
            </li>
            <li>
                <%if @event.number_of_vocalists == "" or @event.number_of_vocalists == nil%>
                    </br>
                <% else %>
                    <%= @event.number_of_vocalists %>
                <% end %>
            </li>
            <li>
                <%if @event.sold_by == "" or @event.sold_by == nil%>
                    </br>
                <% else %>
                    <%= @event.sold_by %>
                <% end %>
            </li>

        </ul>
    </div>

</div>
<div class="right-inner">
  <h2>Info</h2>
  <div class="object3">
    <ul>
        <li><strong>Event Job ID:</strong></li>
        <li><strong>Inquiry Date:</strong></li>
        <li><strong>Event Type:</strong></li>
        <li><strong>Status:</strong></li>
   </ul>
   <ul class="second-ul">
        <li><%= @event.job_identification_number %></li>
        <li>
            <%if @event.inquiry_date == "" or @event.inquiry_date == nil%>
       </br>
       <% else %>
       <%= @event.inquiry_date.strftime("%m/%d/%Y") %>
       <% end %>
  </li>
  <li>
       <%if @event.event_type == "" or @event.event_type == nil%>
  </br>
  <% else %>
  <%= @event.event_type %>
  <% end %>
</li>
<li><%= @event.status %>
  <% if @event.status == "SALES MEETING SCHEDULED" %>
    </br>
    <%= @event.sales_meeting_time.strftime("%A, %m/%d/%Y") if @event.sales_meeting_time %>
  <% end %>
</li>
</ul>
<div class="button-holder">
  <%= link_to 'Edit Details', edit_event_path(@event), :class=> "edit button-inner"%>
</div>
</div>
<div class="object4" style="page-break-after:always;">
    <h2>Contacts</h2>
    <ul>

        <li class="truncate"><strong>Primary Contact:</strong></li>
        <li class="truncate"><strong>Primary Contact Title:</strong></li>
        <li class="truncate"><strong>Primary Contact Email:</strong> </li>
        <li class="truncate"><strong>Primary Contact Phone:</strong></li>
        <li class="truncate"><strong>Primary Contact Second Phone:</strong></li>
        <li class="truncate"><strong>Company:</strong></li>
        <li class="print"><strong>Contact 1:</strong></li>
        <li class="print"><strong>Contact 1 Title:</strong></li>
        <li class="print"><strong>Contact 1 Email:</strong> </li>
        <li class="print"><strong>Contact 1 Phone:</strong></li>
        <li class="print"><strong>Contact 1 2 Phone:</strong></li>
        <li class="print"><strong>Company:</strong></li>
        <br>
        <% if @event.secondary_contact != "" && @event.secondary_contact != nil %>
          <li class="truncate"><strong>Secondary Contact:</strong></li>
          <li class="truncate"><strong>Secondary Contact Title:</strong></li>
          <li class="truncate"><strong>Secondary Contact Email :</strong> </li>
          <li class="truncate"><strong>Secondary Contact Phone:</strong></li>
          <li class="print"><strong>Contact 2:</strong></li>
          <li class="print"><strong>Contact 2 Title:</strong></li>
          <li class="print"><strong>Contact 2 Email :</strong> </li>
          <li class="print"><strong>Contact 2 Phone:</strong></li><br>
        <% end %>

        <% if @event.third_contact != "" && @event.third_contact != nil %>

        <li class="truncate"><strong>Third Contact:</strong></li>
        <li class="truncate"><strong>Third Contact Title:</strong></li>
        <li class="truncate"><strong>Third Contact Email:</strong> </li>
        <li class="truncate"><strong>Third Contact Phone:</strong></li>
        <li class="print"><strong>Contact 3:</strong></li>
        <li class="print"><strong>Contact 3 Title:</strong></li>
        <li class="print"><strong>Contact 3 Email:</strong> </li>
        <li class="print"><strong>Contact 3 Phone:</strong></li>
        <br>

        <% end %>
        <% if @event.fourth_contact != "" && @event.fourth_contact != nil %>

        <li class="truncate"><strong>Fourth Contact:</strong></li>
        <li class="truncate"><strong>Fourth Contact Title:</strong></li>
        <li class="truncate"><strong>Fourth Contact Email:</strong> </li>
        <li class="truncate"><strong>Fourth Contact Phone:</strong></li>
        <li class="print"><strong>Contact 4:</strong></li>
        <li class="print"><strong>Contact 4 Title:</strong></li>
        <li class="print"><strong>Contact 4 Email:</strong> </li>
        <li class="print"><strong>Contact 4 Phone:</strong></li>
        <br>

        <% end %>
        <li><strong>Planner Name:</strong></li>
        <li><strong>Planner Email:</strong> </li>
        <li><strong>Planner Phone:</strong></li>
        <li><strong>Planner Company:</strong></li></br>
        <% if @event.address_one != nil && @event.address_one != "" %>
            <li><strong>Contract Signer:</strong></li>
            <li><strong>Address 1:</strong></li>
            <li><strong>Address 2:</strong></li>
            <li><strong>City:</strong></li>
            <li><strong>State:</strong></li>
            <li><strong>Zip:</strong></li>
        <% end %>
   </ul>
   <ul class="second-ul">

    <li>
        <%if @event.primary_contact == "" or @event.primary_contact == nil%>
            </br>
        <% else %>
            <%= @event.primary_contact %>
        <% end %>
   </li>
   <li>
        <%if @event.primary_contact_title == "" or @event.primary_contact_title == nil%>
            </br>
        <% else %>
            <%= @event.primary_contact_title %>
        <% end %>
    </li>
    <li>
        <%if @event.primary_contact_email == "" or @event.primary_contact_email == nil%>
            </br>
        <% else %>
            <%= mail_to(@event.primary_contact_email) %>
        <% end %>
    </li>
    <li>
        <%if @event.primary_contact_phone == "" or @event.primary_contact_phone == nil%>
            </br>
        <% else %>
            <%= @event.primary_contact_phone %>
        <% end %>
    </li>
    <li>
        <%if @event.primary_contact_alternate_phone == "" or @event.primary_contact_alternate_phone == nil%>
            </br>
        <% else %>
            <%= @event.primary_contact_alternate_phone %>
        <% end %>
    </li>
    <li>
        <%if @event.company == "" or @event.company == nil%>
            </br>
        <% else %>
            <%= @event.company %>
        <% end %>
    </li>
</br>
<% if @event.secondary_contact != "" && @event.secondary_contact != nil %>
<li><%if @event.secondary_contact == "" or @event.secondary_contact == nil%>
</br>
<% else %>
<%= @event.secondary_contact %>
<% end %>
</li>
<li>
     <%if @event.secondary_contact_title == "" or @event.secondary_contact_title == nil%>
</br>
<% else %>
<%= @event.secondary_contact_title %>
<% end %>
</li>
<li>
     <%if @event.secondary_contact_email == "" or @event.secondary_contact_email == nil%>
</br>
<% else %>
<%= mail_to(@event.secondary_contact_email) %>
<% end %>
</li>
<li>
     <%if @event.secondary_contact_phone == "" or @event.secondary_contact_phone == nil%>
</br>
<% else %>
<%= @event.secondary_contact_phone %>
<% end %>
</li>
</br>
<% end %>
<% if @event.third_contact != "" && @event.third_contact != nil %>
<li><%if @event.third_contact == "" or @event.third_contact == nil%>
</br>
<% else %>
<%= @event.third_contact %>
<% end %>
</li>
<li>
     <%if @event.third_contact_title == "" or @event.third_contact_title == nil%>
</br>
<% else %>
<%= @event.third_contact_title %>
<% end %>
</li>
<li>
     <%if @event.third_contact_email == "" or @event.third_contact_email == nil%>
</br>
<% else %>
<%= mail_to(@event.third_contact_email) %>
<% end %>
</li>
<li>
     <%if @event.third_contact_phone == "" or @event.third_contact_phone == nil%>
</br>
<% else %>
<%= @event.third_contact_phone %>
<% end %>
</li>

</br>
<% end %>
<% if @event.fourth_contact != "" && @event.fourth_contact != nil %>
<li><%if @event.fourth_contact == "" or @event.fourth_contact == nil%>
</br>
<% else %>
<%= @event.fourth_contact %>
<% end %>
</li>
<li>
     <%if @event.fourth_contact_title == "" or @event.fourth_contact_title == nil%>
</br>
<% else %>
<%= @event.fourth_contact_title %>
<% end %>
</li>
<li>
     <%if @event.fourth_contact_email == "" or @event.fourth_contact_email == nil%>
</br>
<% else %>
<%= mail_to(@event.fourth_contact_email) %>
<% end %>
</li>
<li>
     <%if @event.fourth_contact_phone == "" or @event.fourth_contact_phone == nil%>
</br>
<% else %>
<%= @event.fourth_contact_phone %>
<% end %>
</li>
</br>
<% end %>
<li>
     <%if @event.planner_name == "" or @event.planner_name == nil%>
</br>
<% else %>
<%= @event.planner_name %>
<% end %>
</li>
<li>
     <%if @event.planner_email == "" or @event.planner_email == nil%>
</br>
<% else %>
<%= mail_to(@event.planner_email) %>
<% end %>
</li>
<li>
     <%if @event.planner_phone == "" or @event.planner_phone == nil%>
</br>
<% else %>
<%= @event.planner_phone %>
<% end %>
</li>
<li>
    <%if @event.planner_company == "" or @event.planner_company == nil%>
</br>
<% else %>
<%= @event.planner_company %>
<% end %>
</li></br>
    <% if @event.address_one != nil && @event.address_one != "" %>
        <li>
            <%= @event.client_first_name %> <%= @event.client_last_name %>
        </li>
        <li>
            <%if @event.address_one == "" or @event.address_one == nil%>
                </br>
            <% else %>
                <%= @event.address_one %>
            <% end %>
        </li>
        <li>
            <%if @event.address_two == "" or @event.address_two == nil%>
                </br>
            <% else %>
                <%= @event.address_two %>
            <% end %>
        </li>
        <li>
            <%if @event.city == "" or @event.city == nil%>
                </br>
            <% else %>
                <%= @event.city %>
            <% end %>
        </li>
        <li>
            <%if @event.state == "" or @event.state == nil%>
                </br>
            <% else %>
                <%= @event.state %>
            <% end %>
        </li>
        <li>
            <%if @event.zip == "" or @event.zip == nil%>
                </br>
            <% else %>
                <%= @event.zip %>
            <% end %>
        </li>
    <% end %>
</ul>
</div>
<div>
 <h2>Communications</h2>
 <div class="padding">

   <% if @contacts.length == 0 %>

   <p>There are no communications for this event</p>

   <% else  %>
   <% counter = @contacts.length %>
   <% @contacts.each do |contact| %>
   <p><strong>Communication <%=counter%></strong>
      <%= link_to raw("&#10006"), event_contact_path(@event, contact), data: { confirm: 'Are you sure you want to delete this contact?' }, :method => :delete, :class => 'delete-button' %></p>
      <p><strong>Date:</strong> <%= contact.date.strftime("%m/%d/%Y") %></p>
      <p><strong>Notes:</strong></p>
      <p><%= contact.notes.html_safe %></p>
      <%= form_for [@event, contact], html: {method: "put"} do |f| %>
        <p><strong><%= f.label "Show to Bandleader" %> <%= f.check_box :show_to %> </strong><%= f.submit "Update"%></p>
      <% end %>
      <% counter -= 1 %>
      <% end %>
      <% end %>
      <br>
      <div class="contact">
        <%= form_for [@event, @contact] do |f| %>
        <p><strong><%= f.label :date %>:</strong><%= f.date_field :date, :value=>Date.today %></p>
        <p><strong><%= f.label :notes %>:</strong></p>
        <p> <%= f.text_area :notes, :class => "tinymce", :cols => 40, :rows => 15 %></p>
        <p><strong><%= f.label "Show to Bandleader" %></strong> <%= f.check_box :show_to %> </p>
        <div class="button-holder">
             <p><%= f.submit "Create", :class => "add button" %></p>
        </div>
        <% end %>
      </div>
      <%= tinymce %>
 </div>
 <div class='linked'>
  <h2>Linked Events</h2>
     <% @links.each do |link| %>
     <% linked_event = Event.find_by(job_identification_number: link.linked_event_job_number) %>
     <%= link_to "#{link.linked_event_job_number}", event_path(linked_event.id), :target => "_blank" if linked_event != nil  %>
     <%= link_to raw("&#10006"), event_link_path(@event, link), data: { confirm: 'Are you sure you want to delete this link?' }, :method => :delete, :class => 'delete-button' %><br>
     <% end %>
     <div class="padding">
          <%= form_for [@event, @linked_event] do |f| %>
          <p><strong><%= f.label :job_identification_number %>:</strong><%= f.number_field :linked_event_job_number %></p>
          <div class="button-holder">
               <p><%= f.submit "Create", :class => "add button" %></p>
          </div>
          <% end %>
     </div>
   </div>
</div>
</div>
