<!DOCTYPE html>
<html>
<head>
	<title>Weddingplanner</title>
	<%= stylesheet_link_tag    'application', media: 'all' %>
	<%= javascript_include_tag 'application'%>
	<%= csrf_meta_tags %>
</head>
<body>
	<div class="left">
		<% if user_signed_in? %>
		<%= link_to 'Home', root_path, :class=>"button" %>
		<%= link_to 'Events', events_path, :class=> "button"%>
		<%= link_to 'Bands', bands_path, :class=> "button" %>
		<%= link_to 'Meetings', meetings_path, :class=> "button" %>
		<%= link_to 'Opportunities', opportunities_path, :class=>"button" %>
		<%= link_to 'Log Out', destroy_user_session_path, :method=>'delete', :class=>"button", :id => 'signout' %>
		<% end %> 
	</div>
	<div class="main">

		<%= yield %>
	</div>
</body>
</html>
